Repository goodbadwolf/tanaka: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, generate-api-models, rust-tests, format-generated-typescript, eslint, typescript, extension-tests, roadmap-reminder

rustfmt:
  name: Format Rust code
  entry: bash -c 'cd server && cargo fmt'
  language: system
  pass_filenames: false

clippy:
  name: Lint Rust code with clippy
  entry: bash -c 'cd server && cargo clippy --all-targets -- -D warnings'
  language: system
  pass_filenames: false
  require_serial: true

generate-api-models:
  name: Generate TypeScript API models from Rust
  entry: python scripts/tanaka.py generate api-models
  language: python
  pass_filenames: false
  require_serial: false
  additional_dependencies: []

rust-tests:
  name: Run Rust tests
  entry: bash -c 'cd server && cargo test --lib'
  language: system
  pass_filenames: false
  require_serial: true

format-generated-typescript:
  name: Format generated TypeScript files
  entry: bash -c 'cd extension && pnpm run lint:fix:generated || true'
  language: system
  pass_filenames: false
  always_run: false

eslint:
  name: Lint TypeScript with ESLint
  entry: bash -c 'cd extension && pnpm run lint:fix'
  language: system
  pass_filenames: false
  require_serial: true

typescript:
  name: Type check TypeScript
  entry: bash -c 'cd extension && pnpm run typecheck'
  language: system
  pass_filenames: false
  require_serial: true

extension-tests:
  name: Run TypeScript tests
  entry: bash -c 'cd extension && pnpm test'
  language: system
  pass_filenames: false
  require_serial: true

roadmap-reminder:
  name: Roadmap update reminder
  entry: python scripts/pre_commit/roadmap_reminder.py
  language: python
  pass_filenames: true

docs: comprehensive architecture review identifying critical bugs
  docs/ARCH_REVIEW.md
  docs/__archived/ARCH_REVIEW.md
  docs/__archived/EXTENSION_ARCH_REVIEW.md
  docs/__archived/SERVER_ARCH_REVIEW.md
  docs/__archived/extension_reviews_approved/REVIEW_CHATGPT_APPROVED.md
  docs/__archived/extension_reviews_approved/REVIEW_CLAUDE_DEEP_RESEARCH_APPROVED.md
  docs/__archived/extension_reviews_approved/REVIEW_CLAUDE_OPUS_APPROVED.md
  docs/__archived/extension_reviews_approved/REVIEW_GEMINI_APPROVED.md
  docs/__archived/extension_reviews_originals/REVIEW_CHATGPT.md
  docs/__archived/extension_reviews_originals/REVIEW_CLAUDE_DEEP_RESEARCH.md
  docs/__archived/extension_reviews_originals/REVIEW_CLAUDE_OPUS.md
  docs/__archived/extension_reviews_originals/REVIEW_GEMINI.md
  docs/__archived/server_reviews_approved/REVIEW_CHATGPT.md
  docs/__archived/server_reviews_approved/REVIEW_CHATGPT_DEEP_RESEARCH.md
  docs/__archived/server_reviews_approved/REVIEW_CLAUDE_DEEP_RESEARCH.md
  docs/__archived/server_reviews_approved/REVIEW_CLAUDE_OPUS.md
  docs/__archived/server_reviews_approved/REVIEW_GEMINI.md
  docs/__archived/server_reviews_originals/REVIEW_CHATGPT.md
  docs/__archived/server_reviews_originals/REVIEW_CHATGPT_DEEP_RESEARCH.md
  docs/__archived/server_reviews_originals/REVIEW_CLAUDE_DEEP_RESEARCH.md
  docs/__archived/server_reviews_originals/REVIEW_CLAUDE_OPUS.md
  docs/__archived/server_reviews_originals/REVIEW_GEMINI.md
Due: none

docs: add Phase 3 Critical Fixes based on architecture review
  docs/ROADMAP.md
Due: none

docs: add Phase 3 warnings and current status to all documentation
  README.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/GETTING-STARTED.md
  docs/TROUBLESHOOTING.md
Due: none

fix: restore server state from database on startup
  CLAUDE.md
  server/src/crdt.rs
  server/src/main.rs
  server/src/repository/mock.rs
  server/src/repository/mod.rs
  server/src/repository/sqlite/operation.rs
  server/tests/server_persistence_test.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, roadmap-reminder

docs: update documentation to reflect server persistence fix completion
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/ROADMAP.md
  docs/TROUBLESHOOTING.md
Due: none

refactor: extract startup logic for better testability
  server/Cargo.lock
  server/Cargo.toml
  server/coverage/lcov.info
  server/src/lib.rs
  server/src/main.rs
  server/src/startup.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, roadmap-reminder

fix: use in-memory database for startup test
  server/src/main.rs
  server/src/startup.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, roadmap-reminder

fix: use atomic compare-and-swap for Lamport clock updates
  docs/ROADMAP.md
  server/src/crdt.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, roadmap-reminder

feat: trigger immediate sync when queue size exceeds threshold
  docs/ROADMAP.md
  extension/src/sync/__tests__/sync-manager-with-worker.test.ts
  extension/src/sync/sync-manager-with-worker.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

fix: align message protocol between popup and background script
  docs/ROADMAP.md
  docs/TROUBLESHOOTING.md
  extension/src/core.ts
  extension/src/popup/components/WindowTracker.test.tsx
  extension/src/popup/components/WindowTracker.tsx
  extension/src/sync/__tests__/message-handler.test.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

fix: resolve initial sync truncation beyond 100 operations
  docs/ROADMAP.md
  docs/TROUBLESHOOTING.md
  server/src/sync.rs
  server/tests/sync_integration.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, roadmap-reminder

fix: trust client-provided device_id for multi-device sync
  docs/ROADMAP.md
  docs/TROUBLESHOOTING.md
  server/src/services/auth.rs
  server/src/services/sync.rs
  server/src/services/tests.rs
  server/tests/sync_integration.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, roadmap-reminder

chore: disable Codecov bot comments on pull requests
  codecov.yml
Due: none

fix: resolve rate limiter memory leak causing server crashes
  server/src/services/auth.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, roadmap-reminder

docs: mark rate limiter memory leak as fixed in Phase 3
  docs/ROADMAP.md
  docs/TROUBLESHOOTING.md
Due: none

fix: resolve rate limiter memory leak causing server crashes (#76)
  docs/ROADMAP.md
  docs/TROUBLESHOOTING.md
  server/src/services/auth.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, roadmap-reminder

fix: replace permissive CORS with secure configuration
  server/lcov.info
  server/src/config.rs
  server/src/main.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, roadmap-reminder

docs: update roadmap and troubleshooting for CORS security fix
  docs/ROADMAP.md
  docs/TROUBLESHOOTING.md
Due: none

Security: Replace permissive CORS with secure configuration (fix/cors-config) (#77)
  docs/ROADMAP.md
  docs/TROUBLESHOOTING.md
  server/lcov.info
  server/src/config.rs
  server/src/main.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, roadmap-reminder

feat: add comprehensive input validation and DOS prevention
  server/Cargo.lock
  server/Cargo.toml
  server/src/auth.rs
  server/src/config.rs
  server/src/handlers/mod.rs
  server/src/handlers/sync.rs
  server/src/lib.rs
  server/src/main.rs
  server/src/middleware.rs
  server/src/services/container.rs
  server/src/services/sync.rs
  server/src/services/tests.rs
  server/tests/input_validation_test.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, roadmap-reminder

docs: update roadmap - mark input validation as complete
  docs/ROADMAP.md
Due: none

test: add comprehensive tests to improve coverage
  server/Cargo.lock
  server/Cargo.toml
  server/lcov.info
  server/src/handlers/sync.rs
  server/src/middleware.rs
  server/src/services/sync.rs
  server/tests/auth_middleware_test.rs
  server/tests/input_validation_test.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, roadmap-reminder

feat: add comprehensive input validation and DOS prevention (#78)
  docs/ROADMAP.md
  server/Cargo.lock
  server/Cargo.toml
  server/lcov.info
  server/src/auth.rs
  server/src/config.rs
  server/src/handlers/mod.rs
  server/src/handlers/sync.rs
  server/src/lib.rs
  server/src/main.rs
  server/src/middleware.rs
  server/src/services/container.rs
  server/src/services/sync.rs
  server/src/services/tests.rs
  server/tests/auth_middleware_test.rs
  server/tests/input_validation_test.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, roadmap-reminder

fix: add comprehensive Content Security Policy to manifest.json
  docs/ROADMAP.md
  extension/manifest.json
  extension/src/__tests__/csp-validation.test.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

fix: add comprehensive Content Security Policy to manifest.json (#79)
  docs/ROADMAP.md
  extension/manifest.json
  extension/src/__tests__/csp-validation.test.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

feat: add dynamic permission verification for Manifest V3 compliance
  docs/ROADMAP.md
  extension/src/__tests__/permissions.test.ts
  extension/src/__tests__/sync-manager-permissions.test.ts
  extension/src/browser/__mocks__/index.ts
  extension/src/browser/core.ts
  extension/src/browser/index.ts
  extension/src/browser/mock.ts
  extension/src/browser/permissions.ts
  extension/src/services/permissions.ts
  extension/src/sync/__tests__/sync-manager-with-worker.test.ts
  extension/src/sync/sync-manager-with-worker.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

test: improve coverage for permission verification implementation
  extension/src/__tests__/permissions-origins.test.ts
  extension/src/__tests__/permissions.test.ts
  extension/src/browser/permissions.test.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

Path conditions:
  rustfmt: any of: ^server/.*\.rs$
  clippy: any of: ^server/.*\.rs$
  generate-api-models: any of: ^server/src/.*\.rs$
  rust-tests: any of: ^server/.*\.rs$
  format-generated-typescript: any of: ^extension/src/api/(errors|models|sync)/.*\.ts$
  eslint: any of: ^extension/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^extension/.*\.(ts|tsx)$
  extension-tests: any of: ^extension/.*\.(ts|tsx|test\.ts|test\.tsx)$
  roadmap-reminder: any of: ^(extension|server)/.*\.(ts|tsx|rs)$
