Repository goodbadwolf/tanaka: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, generate-api-models, rust-tests, format-generated-typescript, eslint, typescript, extension-tests, roadmap-reminder

Path conditions:
  rustfmt: any of: ^server/.*\.rs$
  clippy: any of: ^server/.*\.rs$
  generate-api-models: any of: ^server/src/.*\.rs$
  rust-tests: any of: ^server/.*\.rs$
  format-generated-typescript: any of: ^extension/src/api/(errors|models|sync)/.*\.ts$
  eslint: any of: ^extension/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^extension/.*\.(ts|tsx)$
  extension-tests: any of: ^extension/.*\.(ts|tsx|test\.ts|test\.tsx)$
  roadmap-reminder: any of: ^(extension|server)/.*\.(ts|tsx|rs)$

docs: consolidate duplicate tasks and redundancies
  docs/TODOS.md
Due: none

docs: plan UI redesign with Mantine (#100)
  docs/TODOS.md
Due: none

feat: install Mantine core library and dependencies
  extension/package.json
  extension/pnpm-lock.yaml
Due: none

feat: add simple theme provider using Mantine
  extension/src/themes/ThemeProvider.tsx
  extension/src/themes/index.ts
  extension/src/themes/theme.tsx
  extension/src/themes/useTheme.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

feat: add UI playground with Mantine integration
  docs/TODOS.md
  extension/package.json
  extension/rspack.config.ts
  extension/src/playground/PlaygroundApp.tsx
  extension/src/playground/index.html
  extension/src/playground/index.tsx
Due: eslint, typescript, extension-tests, roadmap-reminder

docs: update TODOs to reflect completed Mantine setup tasks
  docs/TODOS.md
  extension/jest.config.js
Due: eslint

refactor: rename files to follow modern kebab-case convention
  extension/src/playground/index.tsx
  extension/src/playground/playground-app.tsx
  extension/src/themes/index.ts
  extension/src/themes/theme-config.ts
  extension/src/themes/theme-provider.tsx
  extension/src/themes/use-theme.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

feat: add CSS-in-JS examples to Mantine playground
  extension/package.json
  extension/pnpm-lock.yaml
  extension/rspack.config.ts
  extension/src/playground/playground-app.tsx
  extension/src/playground/styled-example.tsx
Due: eslint, typescript, extension-tests, roadmap-reminder

feat: enhance theme config with v3 colors and shadow system
  docs/TODOS.md
  extension/src/themes/theme-config.ts
  extension/src/themes/use-theme.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

feat: add multiple styling approaches to playground
  docs/TODOS.md
  extension/src/playground/playground-app.tsx
  extension/src/playground/styled-example.tsx
  extension/src/playground/styles/components.css
  extension/src/playground/styles/playground.css
  extension/src/playground/styles/utilities.css
Due: eslint, typescript, extension-tests, roadmap-reminder

feat: implement multi-theme system
  docs/TODOS.md
  extension/src/playground/index.html
  extension/src/playground/playground-app.tsx
  extension/src/playground/styles/cyberpunk/components.css
  extension/src/playground/styles/cyberpunk/playground.css
  extension/src/playground/styles/cyberpunk/utilities.css
  extension/src/playground/styles/v3/components.css
  extension/src/playground/styles/v3/playground.css
  extension/src/playground/styles/v3/utilities.css
  extension/src/themes/cyberpunk/theme-config-cyberpunk.ts
  extension/src/themes/theme-config.ts
  extension/src/themes/theme-provider.tsx
  extension/src/themes/v3/theme-config-v3.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

docs: mark completed Mantine setup tasks in TODOS
  docs/TODOS.md
Due: none

feat: create comprehensive styling utility functions
  extension/src/playground/playground-app.tsx
  extension/src/playground/styling-utils-example.tsx
  extension/src/playground/utils/styling-utils.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

docs: mark styling utility functions as completed in TODOS
  docs/TODOS.md
Due: none

fix: implement working hover slide-up effect
  extension/src/playground/playground-app.tsx
  extension/src/playground/styles/hover-effects.css
  extension/src/playground/styling-utils-example.tsx
Due: eslint, typescript, extension-tests, roadmap-reminder

docs: mark animated gradients task as not applicable
  docs/TODOS.md
Due: none

feat: implement debugStyles utilities
  docs/TODOS.md
  extension/src/playground/debug-styles-example.tsx
  extension/src/playground/playground-app.tsx
  extension/src/playground/utils/debug-styles.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

docs: mark debugStyles utilities as completed in TODOS
  docs/TODOS.md
Due: none

feat: implement Mantine v8 UI framework with dual-theme system and styling utilities
  docs/TODOS.md
  extension/jest.config.js
  extension/package.json
  extension/pnpm-lock.yaml
  extension/rspack.config.ts
  extension/src/playground/debug-styles-example.tsx
  extension/src/playground/index.html
  extension/src/playground/index.tsx
  extension/src/playground/playground-app.tsx
  extension/src/playground/styled-example.tsx
  extension/src/playground/styles/cyberpunk/components.css
  extension/src/playground/styles/cyberpunk/playground.css
  extension/src/playground/styles/cyberpunk/utilities.css
  extension/src/playground/styles/hover-effects.css
  extension/src/playground/styles/v3/components.css
  extension/src/playground/styles/v3/playground.css
  extension/src/playground/styles/v3/utilities.css
  extension/src/playground/styling-utils-example.tsx
  extension/src/playground/utils/debug-styles.ts
  extension/src/playground/utils/styling-utils.ts
  extension/src/themes/cyberpunk/theme-config-cyberpunk.ts
  extension/src/themes/index.ts
  extension/src/themes/theme-config.ts
  extension/src/themes/theme-provider.tsx
  extension/src/themes/use-theme.ts
  extension/src/themes/v3/theme-config-v3.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

feat: set up SCSS build pipeline for migration
  docs/SCSS_MIGRATION_PLAN.md
  docs/TODOS.md
  extension/.stylelintrc.json
  extension/package.json
  extension/pnpm-lock.yaml
  extension/postcss.config.js
  extension/rspack.config.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

feat: set up SCSS build pipeline for migration (#102)
  docs/SCSS_MIGRATION_PLAN.md
  docs/TODOS.md
  extension/.stylelintrc.json
  extension/package.json
  extension/pnpm-lock.yaml
  extension/postcss.config.js
  extension/rspack.config.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

docs: reorganize SCSS migration plan for incremental approach
  docs/SCSS_MIGRATION_PLAN.md
Due: none

docs: reorganize SCSS migration plan for incremental approach (#103)
  docs/SCSS_MIGRATION_PLAN.md
Due: none

feat: implement minimal SCSS playground setup (Step 1)
  extension/package.json
  extension/src/playground/playground-app.tsx
  extension/src/playground/styles/_base.scss
  extension/src/playground/styles/_variables.scss
  extension/src/playground/styles/playground.scss
Due: eslint, typescript, extension-tests, roadmap-reminder

feat: implement minimal SCSS playground setup (Step 1) (#104)
  extension/package.json
  extension/src/playground/playground-app.tsx
  extension/src/playground/styles/_base.scss
  extension/src/playground/styles/_variables.scss
  extension/src/playground/styles/playground.scss
Due: eslint, typescript, extension-tests, roadmap-reminder

feat: add theme switcher with SCSS styling (Step 2)
  extension/src/playground/playground-app.tsx
  extension/src/playground/styles/playground.scss
  extension/src/playground/styles/themes/_cyberpunk.scss
  extension/src/playground/styles/themes/_v3.scss
Due: eslint, typescript, extension-tests, roadmap-reminder

refactor: major theme system and playground utilities refactoring
  docs/SCSS_MIGRATION_PLAN.md
  extension/src/playground/debug-styles-example.tsx
  extension/src/playground/playground-app.tsx
  extension/src/playground/styles/_base.scss
  extension/src/playground/styles/_variables.scss
  extension/src/playground/utils/debug-styles.ts
  extension/src/playground/utils/debug-utils.ts
  extension/src/playground/utils/styling-utils.ts
  extension/src/playground/utils/theme-style-factory.ts
  extension/src/themes/app-theme-provider.tsx
  extension/src/themes/index.ts
  extension/src/themes/theme-config.ts
  extension/src/themes/theme-provider.tsx
  extension/src/themes/use-theme-settings.ts
  extension/src/themes/use-theme.ts
  extension/src/themes/v3/theme-config-v3.ts
  extension/src/utils/hoc-utils.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

refactor: theme system and playground integration (#105)
  docs/SCSS_MIGRATION_PLAN.md
  extension/src/playground/debug-styles-example.tsx
  extension/src/playground/playground-app.tsx
  extension/src/playground/styles/_base.scss
  extension/src/playground/styles/_variables.scss
  extension/src/playground/styles/playground.scss
  extension/src/playground/styles/themes/_cyberpunk.scss
  extension/src/playground/styles/themes/_v3.scss
  extension/src/playground/utils/debug-styles.ts
  extension/src/playground/utils/debug-utils.ts
  extension/src/playground/utils/styling-utils.ts
  extension/src/playground/utils/theme-style-factory.ts
  extension/src/themes/app-theme-provider.tsx
  extension/src/themes/index.ts
  extension/src/themes/theme-config.ts
  extension/src/themes/theme-provider.tsx
  extension/src/themes/use-theme-settings.ts
  extension/src/themes/use-theme.ts
  extension/src/themes/v3/theme-config-v3.ts
  extension/src/utils/hoc-utils.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

feat: isolate SCSS migration theme files to playground directory
  extension/src/playground/playground-app.tsx
  extension/src/playground/styling-utils-example.tsx
  extension/src/playground/themes/app-theme-provider.tsx
  extension/src/playground/themes/cyberpunk/theme-config-cyberpunk.ts
  extension/src/playground/themes/index.ts
  extension/src/playground/themes/theme-config.ts
  extension/src/playground/themes/use-theme-settings.ts
  extension/src/playground/themes/v3/theme-config-v3.ts
  extension/src/playground/utils/hoc-utils.ts
  extension/src/playground/utils/styling-utils.ts
  extension/src/playground/utils/theme-style-factory.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

refactor: reorganize SCSS migration plan for clarity
  docs/SCSS_MIGRATION_PLAN.md
Due: none

refactor: reorganize SCSS migration plan for clarity (#106)
  docs/SCSS_MIGRATION_PLAN.md
  docs/TODOS.md
  extension/.stylelintrc.json
  extension/package.json
  extension/pnpm-lock.yaml
  extension/postcss.config.js
  extension/rspack.config.ts
  extension/src/playground/debug-styles-example.tsx
  extension/src/playground/playground-app.tsx
  extension/src/playground/styles/_base.scss
  extension/src/playground/styles/_variables.scss
  extension/src/playground/styles/playground.scss
  extension/src/playground/styles/themes/_cyberpunk.scss
  extension/src/playground/styles/themes/_v3.scss
  extension/src/playground/utils/debug-styles.ts
  extension/src/playground/utils/debug-utils.ts
  extension/src/playground/utils/styling-utils.ts
  extension/src/playground/utils/theme-style-factory.ts
  extension/src/themes/app-theme-provider.tsx
  extension/src/themes/index.ts
  extension/src/themes/theme-config.ts
  extension/src/themes/theme-provider.tsx
  extension/src/themes/use-theme-settings.ts
  extension/src/themes/use-theme.ts
  extension/src/themes/v3/theme-config-v3.ts
  extension/src/utils/hoc-utils.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

feat: isolate SCSS migration theme files to playground directory (#107)
  extension/src/playground/playground-app.tsx
  extension/src/playground/styling-utils-example.tsx
  extension/src/playground/themes/app-theme-provider.tsx
  extension/src/playground/themes/cyberpunk/theme-config-cyberpunk.ts
  extension/src/playground/themes/index.ts
  extension/src/playground/themes/theme-config.ts
  extension/src/playground/themes/use-theme-settings.ts
  extension/src/playground/themes/v3/theme-config-v3.ts
  extension/src/playground/utils/hoc-utils.ts
  extension/src/playground/utils/styling-utils.ts
  extension/src/playground/utils/theme-style-factory.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

fix: resolve theme initialization circular dependency
  extension/src/components/theme-toggle/theme-toggle.tsx
  extension/src/playground/playground-app.tsx
  extension/src/themes/index.ts
  extension/src/themes/theme-config.ts
  extension/src/themes/theme-provider.tsx
  extension/src/themes/use-theme-settings.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

refactor: use withThemeProvider HOC in playground app
  extension/src/playground/playground-app.tsx
  extension/src/themes/theme-provider.tsx
Due: eslint, typescript, extension-tests, roadmap-reminder

fix: prevent theme flash on page load
  extension/src/playground/index.html
  extension/src/playground/index.tsx
  extension/src/shared/theme-init.js
  extension/src/themes/use-theme-settings.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

feat: add Toggle component with SCSS styling
  extension/src/components/index.ts
  extension/src/components/toggle/index.tsx
  extension/src/components/toggle/toggle.scss
  extension/src/components/toggle/toggle.tsx
  extension/src/playground/index.html
  extension/src/playground/playground-app.tsx
  extension/src/styles/_animations.scss
  extension/src/styles/_shared.scss
  extension/src/styles/_variables.scss
Due: eslint, typescript, extension-tests, roadmap-reminder

feat: add Toggle component with SCSS styling (#110)
  extension/src/components/index.ts
  extension/src/components/toggle/index.tsx
  extension/src/components/toggle/toggle.scss
  extension/src/components/toggle/toggle.tsx
  extension/src/playground/index.html
  extension/src/playground/playground-app.tsx
  extension/src/styles/_animations.scss
  extension/src/styles/_shared.scss
  extension/src/styles/_variables.scss
Due: eslint, typescript, extension-tests, roadmap-reminder

refactor: move CSS-based components to deprecated folder
  extension/src/components/deprecated/Button.module.css
  extension/src/components/deprecated/Button.test.tsx
  extension/src/components/deprecated/Button.tsx
  extension/src/components/deprecated/Card.module.css
  extension/src/components/deprecated/Card.test.tsx
  extension/src/components/deprecated/Card.tsx
  extension/src/components/deprecated/ErrorBoundary.css
  extension/src/components/deprecated/ErrorBoundary.test.tsx
  extension/src/components/deprecated/ErrorBoundary.tsx
  extension/src/components/deprecated/ErrorMessage.module.css
  extension/src/components/deprecated/ErrorMessage.test.tsx
  extension/src/components/deprecated/ErrorMessage.tsx
  extension/src/components/deprecated/Input.module.css
  extension/src/components/deprecated/Input.test.tsx
  extension/src/components/deprecated/Input.tsx
  extension/src/components/deprecated/LoadingSpinner.module.css
  extension/src/components/deprecated/LoadingSpinner.test.tsx
  extension/src/components/deprecated/LoadingSpinner.tsx
  extension/src/components/index.ts
  extension/src/popup/components/PopupApp.tsx
  extension/src/popup/components/WindowTracker.tsx
  extension/src/popup/popup.tsx
  extension/src/settings/components/SettingsApp.tsx
Due: eslint, typescript, extension-tests, roadmap-reminder
