Repository goodbadwolf/tanaka: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, rustfmt, clippy, roadmap-reminder

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

# Global settings
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [commit]
fail_fast: false  # Run all hooks even if one fails
minimum_pre_commit_version: '3.5.0'

repos:
  # Python formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.8
    hooks:
      - id: ruff-format
        name: Format Python code with ruff
      - id: ruff
        name: Lint Python code with ruff
        args: [--fix, --exit-non-zero-on-fix]

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        name: Check shell scripts with shellcheck
        args: [-x]  # Follow source statements

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.10.0-1
    hooks:
      - id: shfmt
        name: Format shell scripts with shfmt
        args: [-i, '2', -w]  # 2 space indent, write in place

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint-fix
        name: Fix markdown files with markdownlint
        args: [--fix]
        exclude: ^(node_modules|coverage)/

  # TypeScript/JavaScript checks (local hooks using pnpm)
  - repo: local
    hooks:
      - id: eslint
        name: Lint TypeScript with ESLint
        entry: bash -c 'cd extension && pnpm run lint:fix'
        language: system
        files: ^extension/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        require_serial: true

      - id: typescript
        name: Type check TypeScript
        entry: python scripts/pre_commit/quick_mode.py typescript bash -c 'cd extension && pnpm run typecheck'
        language: system
        files: ^extension/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

  # Rust checks (local hooks using cargo)
  - repo: local
    hooks:
      - id: rustfmt
        name: Format Rust code
        entry: bash -c 'cd server && cargo fmt'
        language: system
        files: ^server/.*\.rs$
        pass_filenames: false

      - id: clippy
        name: Lint Rust code with clippy
        entry: python scripts/pre_commit/quick_mode.py clippy bash -c 'cd server && cargo clippy --all-targets -- -D warnings'
        language: system
        files: ^server/.*\.rs$
        pass_filenames: false
        require_serial: true

  # Custom project-specific checks
  - repo: local
    hooks:
      - id: documentation-consistency
        name: Check documentation consistency
        entry: python scripts/pre_commit/check_documentation.py
        language: python
        always_run: true
        pass_filenames: false
        additional_dependencies: []

      - id: roadmap-reminder
        name: Roadmap update reminder
        entry: python scripts/pre_commit/roadmap_reminder.py
        language: python
        files: ^(extension|server)/.*\.(ts|tsx|rs)$
        pass_filenames: true

  # Commit message validation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.2.3
    hooks:
      - id: commitizen
        name: Check commit message format
        stages: [commit-msg]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: check-json
        exclude: tsconfig.json  # Has comments

# Configuration for specific hooks
# Quick mode: PRE_COMMIT_QUICK=1 git commit
# Skip all: git commit --no-verify
# Skip specific: SKIP=hook-id git commit

chore: rename code-quality workflow to ci
  .github/workflows/ci.yml
  README.md
  docs/DEV.md
  docs/DEVELOPMENT.md
Due: none

feat: improve CI testing with cross-platform support and auto-start
  .actrc
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  docs/DEV.md
  docs/DEVELOPMENT.md
  scripts/tasks/lint.py
  scripts/tasks/test_ci.py
  scripts/utils.py
Due: none

feat: improve CI testing with cross-platform support and auto-start
  .pre-commit-config.yaml
  docs/DEV.md
  scripts/tasks/test_ci.py
  scripts/utils.py
Due: none

feat: improve CI with dedicated test jobs
  .github/workflows/ci.yml
Due: none

test: fix Card and Input component tests
  extension/src/components/Card.test.tsx
  extension/src/components/Input.test.tsx
  extension/src/test/__mocks__/identity-obj-proxy.js
Due: eslint, typescript, roadmap-reminder

docs: add PR creation step to roadmap workflow
  docs/ROADMAP.md
Due: none

docs: update roadmap with UI completion findings
  docs/ROADMAP.md
Due: none

fix: resolve CSS modules mocking issues in tests
  extension/jest.config.js
  extension/src/test/__mocks__/identity-obj-proxy.cjs
Due: eslint

fix: prevent ts-rs from generating types in wrong location
  .github/workflows/ci.yml
  .gitignore
Due: none

fix: adjust Jest coverage exclusions to meet 80% threshold
  extension/jest.config.js
Due: eslint

docs: update roadmap to reflect Phase 1 completion
  docs/ROADMAP.md
Due: none

feat(error-handling): implement comprehensive error handling system
  extension/src/api/api.test.ts
  extension/src/api/api.ts
  extension/src/api/errors/ErrorCode.ts
  extension/src/api/errors/ErrorDetail.ts
  extension/src/api/errors/ErrorResponse.ts
  extension/src/api/errors/RetryInfo.ts
  extension/src/api/errors/index.ts
  extension/src/components/ErrorBoundary.css
  extension/src/components/ErrorBoundary.test.tsx
  extension/src/components/ErrorBoundary.tsx
  extension/src/components/index.ts
  extension/src/error/types.ts
  extension/src/popup/popup.tsx
  extension/src/settings/settings.tsx
  extension/src/sync/sync-manager.ts
  server/Cargo.lock
  server/Cargo.toml
  server/src/error.rs
  server/src/lib.rs
  server/src/main.rs
  server/src/models.rs
Due: eslint, typescript, rustfmt, clippy, roadmap-reminder

feat: add configuration management and retry logic
  extension/src/api/api.test.ts
  extension/src/api/api.ts
  extension/src/di/container.ts
  extension/src/di/webapp-container.ts
  extension/src/test/setup.ts
  extension/src/utils/retry.test.ts
  extension/src/utils/retry.ts
  server/.env.example
  server/Cargo.lock
  server/Cargo.toml
  server/config/example.toml
  server/src/auth.rs
  server/src/config.rs
  server/src/db.rs
  server/src/error.rs
  server/src/lib.rs
  server/src/main.rs
  server/src/sync.rs
Due: eslint, typescript, rustfmt, clippy, roadmap-reminder

test: verify pre-commit hooks run tests
  .pre-commit-config.yaml
  test-precommit.txt
Due: none

build: add pre-commit hooks for running tests
  extension/src/utils/retry.test.ts
  test-precommit.txt
Due: eslint, typescript, roadmap-reminder

docs: consolidate error handling documentation into DEV.md
  docs/DEV.md
Due: none

fix: correct TypeScript export paths for generated types
  extension/src/api/errors/ErrorCode.ts
  extension/src/api/errors/ErrorDetail.ts
  extension/src/api/errors/ErrorResponse.ts
  extension/src/api/errors/RetryInfo.ts
  extension/src/api/models/SyncRequest.ts
  extension/src/api/models/SyncResponse.ts
  extension/src/api/models/Tab.ts
  server/src/error.rs
  server/src/models.rs
Due: eslint, typescript, rustfmt, clippy, roadmap-reminder

build: ignore auto-generated TypeScript files in ESLint
  extension/eslint.config.ts
Due: eslint, typescript, roadmap-reminder

fix: use Display formatting for PathBuf in error messages
  server/src/config.rs
Due: rustfmt, clippy, roadmap-reminder

refactor: clean up server code to comply with CLAUDE.md guidelines
  extension/src/api/errors/ErrorDetail.ts
  extension/src/api/errors/ErrorResponse.ts
  extension/src/api/errors/RetryInfo.ts
  server/src/auth.rs
  server/src/config.rs
  server/src/db.rs
  server/src/error.rs
  server/src/main.rs
  server/src/sync.rs
Due: eslint, typescript, rustfmt, clippy, roadmap-reminder

feat: implement structured CRDT protocol foundation
  docs/SYNC-PROTOCOL.md
  server/Cargo.lock
  server/Cargo.toml
  server/src/crdt.rs
Due: rustfmt, clippy, roadmap-reminder

feat: implement structured CRDT protocol foundation (#42)
  docs/SYNC-PROTOCOL.md
  server/Cargo.lock
  server/Cargo.toml
  server/src/crdt.rs
Due: rustfmt, clippy, roadmap-reminder

docs: consolidate development documentation and update roadmap
  docs/DEV.md
  docs/DEVELOPMENT.md
  docs/ROADMAP.md
Due: none
