Repository goodbadwolf/tanaka: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, generate-api-models, rust-tests, format-generated-typescript, eslint, typescript, extension-tests, roadmap-reminder

Path conditions:
  rustfmt: any of: ^server/.*\.rs$
  clippy: any of: ^server/.*\.rs$
  generate-api-models: any of: ^server/src/.*\.rs$
  rust-tests: any of: ^server/.*\.rs$
  format-generated-typescript: any of: ^extension/src/api/(errors|models|sync)/.*\.ts$
  eslint: any of: ^extension/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^extension/.*\.(ts|tsx)$
  extension-tests: any of: ^extension/.*\.(ts|tsx|test\.ts|test\.tsx)$
  roadmap-reminder: any of: ^(extension|server)/.*\.(ts|tsx|rs)$

fix(ci): add Codecov token to fix upload failures
  .github/workflows/ci.yml
Due: none

ci: add coverage reporting and threshold checks
  .github/workflows/ci.yml
Due: none

fix(coverage): prevent TypeScript generation during server coverage tests
  .github/workflows/ci.yml
  scripts/tasks/coverage.py
Due: none

feat(scripts): add sccache as development dependency
  .gitignore
  pyproject.toml
  scripts/tasks/setup_dev.py
Due: none

perf(ci): add sccache to speed up Rust compilation
  .github/workflows/ci.yml
Due: none

refactor(scripts): improve coverage.py architecture and add tarpaulin to setup
  extension/jest.config.js
  scripts/tasks/coverage.py
  scripts/tasks/setup_dev.py
Due: eslint

docs: add Codecov coverage badge to README and adjust server threshold
  README.md
  scripts/tasks/coverage.py
  uv.lock
Due: none

perf(ci): add cargo build step before coverage to warm up sccache
  .github/workflows/ci.yml
Due: none

perf(ci): build both dev and test profiles to maximize sccache benefit
  .github/workflows/ci.yml
Due: none

refactor(ci): remove redundant coverage-check job and use Codecov thresholds
  .github/workflows/ci.yml
  codecov.yml
Due: none

docs: update roadmap to reflect verified project status
  docs/ROADMAP.md
Due: none

refactor: redistribute Phase 1 pending items and update coverage data
  docs/ROADMAP.md
Due: none

docs: add detailed repository layer implementation plan
  docs/ROADMAP.md
Due: none

feat(repository): implement complete repository layer with tests
  extension/src/api/api.test.ts
  extension/src/api/api.ts
  extension/src/api/models/Window.ts
  server/Cargo.lock
  server/Cargo.toml
  server/src/lib.rs
  server/src/models.rs
  server/src/repository/mock.rs
  server/src/repository/mod.rs
  server/src/repository/sqlite/mod.rs
  server/src/repository/sqlite/operation.rs
  server/src/repository/sqlite/tab.rs
  server/src/repository/sqlite/window.rs
  server/src/repository/tests.rs
  server/src/sync.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, format-generated-typescript, eslint, typescript, extension-tests, roadmap-reminder

test(sync): add integration tests for repository layer coverage
  server/tests/sync_integration.rs
Due: rustfmt, clippy, rust-tests, roadmap-reminder

test(repository): add comprehensive tests to improve coverage to 71.65%
  docs/ROADMAP.md
  server/src/repository/tests.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, roadmap-reminder

docs: update roadmap to reflect completed service layer (Phase 2.4)
  docs/ROADMAP.md
Due: none

docs: add Rust testing improvements to Performance phase
  docs/ROADMAP.md
Due: none

feat(test): implement enhanced testing tools for performance optimization
  docs/ROADMAP.md
  server/Cargo.lock
  server/Cargo.toml
  server/src/repository/tests.rs
  server/src/sync.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, roadmap-reminder

feat(perf): optimize SQLite settings for 200+ tabs performance
  server/src/db.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, roadmap-reminder

feat(perf): implement statement caching for prepared SQLite statements
  server/src/db.rs
  server/src/repository/mod.rs
  server/src/repository/sqlite/cache.rs
  server/src/repository/sqlite/mod.rs
  server/src/repository/sqlite/operation.rs
  server/src/repository/sqlite/tab.rs
  server/src/repository/sqlite/window.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, roadmap-reminder

docs: update roadmap for completed performance optimizations
  docs/ROADMAP.md
Due: none

feat(server): complete service layer implementation with dependency injection
  server/Cargo.lock
  server/Cargo.toml
  server/src/lib.rs
  server/src/repository/mod.rs
  server/src/services/auth.rs
  server/src/services/container.rs
  server/src/services/mod.rs
  server/src/services/sync.rs
  server/src/services/tests.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, roadmap-reminder

chore: update Cargo.lock
  server/Cargo.lock
Due: none

feat(testing): upgrade to enhanced Rust testing infrastructure
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  docs/DEVELOPMENT.md
  scripts/tasks/test_enhanced.py
  server/Cargo.lock
  server/Cargo.toml
  server/benches/sync_benchmark.rs
Due: rustfmt, clippy, rust-tests, roadmap-reminder

docs: update roadmap to reflect completed testing infrastructure
  docs/ROADMAP.md
Due: none
