Repository goodbadwolf/tanaka: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, generate-api-models, rust-tests, format-generated-typescript, eslint, typescript, extension-tests, roadmap-reminder

rustfmt:
  name: Format Rust code
  entry: bash -c 'cd server && cargo fmt'
  language: system
  pass_filenames: false

clippy:
  name: Lint Rust code with clippy
  entry: bash -c 'cd server && cargo clippy --all-targets -- -D warnings'
  language: system
  pass_filenames: false
  require_serial: true

generate-api-models:
  name: Generate TypeScript API models from Rust
  entry: python scripts/tanaka.py generate api-models
  language: python
  pass_filenames: false
  require_serial: false
  additional_dependencies: []

rust-tests:
  name: Run Rust tests
  entry: bash -c 'cd server && cargo test --lib'
  language: system
  pass_filenames: false
  require_serial: true

format-generated-typescript:
  name: Format generated TypeScript files
  entry: bash -c 'cd extension && pnpm run lint:fix:generated || true'
  language: system
  pass_filenames: false
  always_run: false

eslint:
  name: Lint TypeScript with ESLint
  entry: bash -c 'cd extension && pnpm run lint:fix'
  language: system
  pass_filenames: false
  require_serial: true

typescript:
  name: Type check TypeScript
  entry: bash -c 'cd extension && pnpm run typecheck'
  language: system
  pass_filenames: false
  require_serial: true

extension-tests:
  name: Run TypeScript tests
  entry: bash -c 'cd extension && pnpm test'
  language: system
  pass_filenames: false
  require_serial: true

roadmap-reminder:
  name: Roadmap update reminder
  entry: python scripts/pre_commit/roadmap_reminder.py
  language: python
  pass_filenames: true

test: enable 'should apply remote upsert_tab operations' test
  extension/src/sync/__tests__/sync-manager-with-worker.test.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

test: fix 'should use error backoff on sync failures' test
  extension/src/sync/__tests__/sync-manager-with-worker.test.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

test: fix 'should use active interval when operations are queued' test
  extension/src/sync/__tests__/sync-manager-with-worker.test.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

test(extension): add comprehensive implementation tests for CrdtWorker
  extension/src/workers/__tests__/crdt-worker-impl.test.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

docs: update roadmap with Web Worker completion and coverage improvements
  PR_DESCRIPTION.md
  docs/ROADMAP.md
Due: none

test: improve test coverage to 83.74% server, 73% extension
  extension/src/sync/__tests__/sync-manager-with-worker.test.ts
  extension/src/utils/__tests__/logger.test.ts
  extension/src/workers/__tests__/crdt-worker.test.ts
  server/src/crdt.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, eslint, typescript, extension-tests, roadmap-reminder

test: fix 'should clear timers on stop' test
  extension/src/sync/__tests__/sync-manager-with-worker.test.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

feat(extension): complete Web Worker CRDT implementation with all tests passing
  docs/ROADMAP.md
  extension/src/config/index.ts
  extension/src/config/types.ts
  extension/src/di/container.ts
  extension/src/sync/__tests__/sync-manager-with-worker.test.ts
  extension/src/sync/sync-manager-with-worker.ts
  extension/src/workers/README.md
Due: eslint, typescript, extension-tests, roadmap-reminder

feat(extension): move CRDT operations to Web Worker
  extension/rspack.config.ts
  extension/src/config/environments/development.ts
  extension/src/config/environments/production.ts
  extension/src/config/environments/staging.ts
  extension/src/di/container.ts
  extension/src/sync/__tests__/sync-manager-with-worker.test.ts
  extension/src/sync/sync-manager-with-worker.ts
  extension/src/workers/README.md
  extension/src/workers/__tests__/crdt-worker-client.test.ts
  extension/src/workers/crdt-worker-client.ts
  extension/src/workers/crdt-worker.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

fix: add Web Worker mock for Jest tests
  extension/jest.config.js
  extension/src/di/container.ts
  extension/src/di/webapp-container.ts
  extension/src/sync/__tests__/message-handler.test.ts
  extension/src/sync/__tests__/sync-manager-with-worker.test.ts
  extension/src/sync/__tests__/sync-manager.test.ts
  extension/src/sync/index.ts
  extension/src/sync/message-handler.ts
  extension/src/sync/sync-manager.ts
  extension/src/test/setup.ts
  extension/src/utils/__tests__/logger.test.ts
  extension/src/workers/__tests__/crdt-worker.test.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

docs: fix architecture inconsistencies and move virtual scrolling to end
  docs/ARCHITECTURE.md
  docs/ROADMAP.md
Due: none

docs: remove implementation code from SYNC-PROTOCOL.md
  docs/SYNC-PROTOCOL.md
Due: none

docs: consolidate Web Worker documentation into main docs
  docs/ARCHITECTURE.md
  docs/TROUBLESHOOTING.md
  extension/src/workers/README.md
Due: none

docs: add Web Worker feature to README key features
  README.md
Due: none

chore: remove obsolete PR_DESCRIPTION.md
  PR_DESCRIPTION.md
Due: none

test(extension): skip problematic SettingsApp tests to fix codecov
  extension/src/components/Input.tsx
  extension/src/popup/components/WindowTracker.tsx
  extension/src/settings/components/SettingsApp.tsx
Due: eslint, typescript, extension-tests, roadmap-reminder

docs(roadmap): mark React optimization as complete in Phase 2.5
  docs/ROADMAP.md
Due: none

test(extension): address codecov/patch coverage for React optimizations
  extension/src/settings/components/SettingsApp.test.tsx
Due: eslint, typescript, extension-tests, roadmap-reminder

refactor(roadmap): restructure phases with comprehensive UI redesign and testing
  docs/ROADMAP.md
Due: none

docs: move leftover Phase 2 items to Phase 4
  docs/ROADMAP.md
Due: none

feat(roadmap): add comprehensive codebase refactoring phase
  docs/ROADMAP.md
Due: none

docs: update CLAUDE.md with latest project guidelines
  CLAUDE.md
Due: none

docs: simplify ROADMAP.md to focus on pending work
  docs/ROADMAP.md
Due: none

Path conditions:
  rustfmt: any of: ^server/.*\.rs$
  clippy: any of: ^server/.*\.rs$
  generate-api-models: any of: ^server/src/.*\.rs$
  rust-tests: any of: ^server/.*\.rs$
  format-generated-typescript: any of: ^extension/src/api/(errors|models|sync)/.*\.ts$
  eslint: any of: ^extension/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^extension/.*\.(ts|tsx)$
  extension-tests: any of: ^extension/.*\.(ts|tsx|test\.ts|test\.tsx)$
  roadmap-reminder: any of: ^(extension|server)/.*\.(ts|tsx|rs)$
