Repository goodbadwolf/tanaka: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, generate-api-models, rust-tests, format-generated-typescript, eslint, typescript, extension-tests, roadmap-reminder

rustfmt:
  name: Format Rust code
  entry: bash -c 'cd server && cargo fmt'
  language: system
  pass_filenames: false

clippy:
  name: Lint Rust code with clippy
  entry: bash -c 'cd server && cargo clippy --all-targets -- -D warnings'
  language: system
  pass_filenames: false
  require_serial: true

generate-api-models:
  name: Generate TypeScript API models from Rust
  entry: python scripts/tanaka.py generate api-models
  language: python
  pass_filenames: false
  require_serial: false
  additional_dependencies: []

rust-tests:
  name: Run Rust tests
  entry: bash -c 'cd server && cargo test --lib'
  language: system
  pass_filenames: false
  require_serial: true

format-generated-typescript:
  name: Format generated TypeScript files
  entry: bash -c 'cd extension && pnpm run lint:fix:generated || true'
  language: system
  pass_filenames: false
  always_run: false

eslint:
  name: Lint TypeScript with ESLint
  entry: bash -c 'cd extension && pnpm run lint:fix'
  language: system
  pass_filenames: false
  require_serial: true

typescript:
  name: Type check TypeScript
  entry: bash -c 'cd extension && pnpm run typecheck'
  language: system
  pass_filenames: false
  require_serial: true

extension-tests:
  name: Run TypeScript tests
  entry: bash -c 'cd extension && pnpm test'
  language: system
  pass_filenames: false
  require_serial: true

roadmap-reminder:
  name: Roadmap update reminder
  entry: python scripts/pre_commit/roadmap_reminder.py
  language: python
  pass_filenames: true

refactor: remove old tarpaulin references and update to new testing tools
  scripts/tasks/coverage.py
  scripts/tasks/setup_dev.py
Due: none

refactor: remove test-enhanced script in favor of direct commands
  docs/DEVELOPMENT.md
  docs/ROADMAP.md
  scripts/tasks/test_enhanced.py
Due: none

fix(ci): fix benchmark workflow to run specific benchmark
  .github/workflows/benchmark.yml
Due: none

fix(ci): correct benchmark output file path to match tee command
  .github/workflows/benchmark.yml
Due: none

fix(utils): remove thread lock to enable concurrent stdout/stderr output
  scripts/tasks/coverage.py
  scripts/tasks/test_ci.py
  scripts/utils.py
Due: none

feat(testing): upgrade Rust testing infrastructure to nextest and llvm-cov (#53)
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  docs/DEVELOPMENT.md
  docs/ROADMAP.md
  scripts/tasks/coverage.py
  scripts/tasks/setup_dev.py
  scripts/tasks/test_ci.py
  scripts/utils.py
  server/Cargo.lock
  server/Cargo.toml
  server/benches/sync_benchmark.rs
Due: rustfmt, clippy, rust-tests, roadmap-reminder

feat(utils): add timeout support and improve error messages
  docs/ROADMAP.md
  scripts/utils.py
Due: none

fix(scripts): address valid code review issues
  scripts/tanaka.py
  scripts/tasks/generate.py
  scripts/tasks/lint.py
  scripts/tasks/setup_dev.py
  scripts/utils.py
Due: none

feat(scripts): enhance generate command and add generic SetOnce utility
  scripts/tasks/generate.py
  scripts/utils.py
Due: none

refactor: address code review issues and enhance generate command
  .pre-commit-config.yaml
  extension/.gitignore
  extension/icons/generate-icons.sh
  extension/icons/icon-128.png
  extension/icons/icon-16.png
  extension/icons/icon-32.png
  extension/icons/icon-48.png
  extension/icons/icon.svg
  extension/package.json
  pyproject.toml
  scripts/tasks/coverage.py
  scripts/tasks/generate.py
  scripts/tasks/lint.py
  scripts/tasks/setup_dev.py
  scripts/tasks/test_ci.py
  scripts/utils.py
Due: none

fix: enable carryforward for codecov flags to fix unknown badge
  codecov.yml
Due: none

fix: isolate codecov coverage file search by directory
  .github/workflows/ci.yml
Due: none

perf(extension): optimize React re-renders and add performance monitoring
  extension/src/popup/components/PopupApp.tsx
  extension/src/utils/performance.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

chore: ignore performance monitoring utilities in codecov
  codecov.yml
  extension/jest.config.js
Due: eslint

feat(extension): optimize sync debouncing with adaptive intervals
  extension/src/sync/ADAPTIVE-SYNC.md
  extension/src/sync/__tests__/adaptive-sync-manager.test.ts
  extension/src/sync/adaptive-sync-manager.ts
  extension/src/sync/index.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

docs: move adaptive sync docs to DEVELOPMENT.md and update roadmap
  docs/DEVELOPMENT.md
  docs/ROADMAP.md
  extension/src/sync/ADAPTIVE-SYNC.md
Due: none

docs: update sync interval references and consolidate server test docs
  README.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/GETTING-STARTED.md
  docs/TROUBLESHOOTING.md
  server/tests/README.md
Due: none

fix(extension): exclude adaptive-sync-manager from coverage
  extension/jest.config.js
Due: eslint

feat(extension): make adaptive sync the default implementation
  docs/DEVELOPMENT.md
  docs/ROADMAP.md
  extension/jest.config.js
  extension/src/sync/__tests__/adaptive-sync-manager.test.ts
  extension/src/sync/__tests__/sync-manager.test.ts
  extension/src/sync/adaptive-sync-manager.ts
  extension/src/sync/index.ts
  extension/src/sync/sync-manager.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

feat(extension): move CRDT operations to Web Worker
  extension/rspack.config.ts
  extension/src/config/environments/development.ts
  extension/src/config/environments/production.ts
  extension/src/config/environments/staging.ts
  extension/src/di/container.ts
  extension/src/sync/__tests__/sync-manager-with-worker.test.ts
  extension/src/sync/sync-manager-with-worker.ts
  extension/src/workers/README.md
  extension/src/workers/__tests__/crdt-worker-client.test.ts
  extension/src/workers/crdt-worker-client.ts
  extension/src/workers/crdt-worker.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

feat(extension): complete Web Worker CRDT implementation with all tests passing
  docs/ROADMAP.md
  extension/src/config/index.ts
  extension/src/config/types.ts
  extension/src/di/container.ts
  extension/src/sync/__tests__/sync-manager-with-worker.test.ts
  extension/src/sync/sync-manager-with-worker.ts
  extension/src/workers/README.md
Due: eslint, typescript, extension-tests, roadmap-reminder

test: improve test coverage to 83.74% server, 73% extension
  extension/src/sync/__tests__/sync-manager-with-worker.test.ts
  extension/src/utils/__tests__/logger.test.ts
  extension/src/workers/__tests__/crdt-worker.test.ts
  server/src/crdt.rs
Due: rustfmt, clippy, generate-api-models, rust-tests, eslint, typescript, extension-tests, roadmap-reminder

docs: update roadmap with Web Worker completion and coverage improvements
  PR_DESCRIPTION.md
  docs/ROADMAP.md
Due: none

fix: add Web Worker mock for Jest tests
  extension/jest.config.js
  extension/src/di/container.ts
  extension/src/di/webapp-container.ts
  extension/src/sync/__tests__/message-handler.test.ts
  extension/src/sync/__tests__/sync-manager-with-worker.test.ts
  extension/src/sync/__tests__/sync-manager.test.ts
  extension/src/sync/index.ts
  extension/src/sync/message-handler.ts
  extension/src/sync/sync-manager.ts
  extension/src/test/setup.ts
  extension/src/utils/__tests__/logger.test.ts
  extension/src/workers/__tests__/crdt-worker.test.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

test: fix 'should clear timers on stop' test
  extension/src/sync/__tests__/sync-manager-with-worker.test.ts
Due: eslint, typescript, extension-tests, roadmap-reminder

Path conditions:
  rustfmt: any of: ^server/.*\.rs$
  clippy: any of: ^server/.*\.rs$
  generate-api-models: any of: ^server/src/.*\.rs$
  rust-tests: any of: ^server/.*\.rs$
  format-generated-typescript: any of: ^extension/src/api/(errors|models|sync)/.*\.ts$
  eslint: any of: ^extension/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^extension/.*\.(ts|tsx)$
  extension-tests: any of: ^extension/.*\.(ts|tsx|test\.ts|test\.tsx)$
  roadmap-reminder: any of: ^(extension|server)/.*\.(ts|tsx|rs)$
