Repository goodbadwolf/tanaka: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, rustfmt, clippy, roadmap-reminder

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

# Global settings
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [commit]
fail_fast: false  # Run all hooks even if one fails
minimum_pre_commit_version: '3.5.0'

repos:
  # Python formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.8
    hooks:
      - id: ruff-format
        name: Format Python code with ruff
      - id: ruff
        name: Lint Python code with ruff
        args: [--fix, --exit-non-zero-on-fix]

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        name: Check shell scripts with shellcheck
        args: [-x]  # Follow source statements

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.10.0-1
    hooks:
      - id: shfmt
        name: Format shell scripts with shfmt
        args: [-i, '2', -w]  # 2 space indent, write in place

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint-fix
        name: Fix markdown files with markdownlint
        args: [--fix]
        exclude: ^(node_modules|coverage)/

  # TypeScript/JavaScript checks (local hooks using pnpm)
  - repo: local
    hooks:
      - id: eslint
        name: Lint TypeScript with ESLint
        entry: bash -c 'cd extension && pnpm run lint:fix'
        language: system
        files: ^extension/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        require_serial: true

      - id: typescript
        name: Type check TypeScript
        entry: python scripts/pre_commit/quick_mode.py typescript bash -c 'cd extension && pnpm run typecheck'
        language: system
        files: ^extension/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

  # Rust checks (local hooks using cargo)
  - repo: local
    hooks:
      - id: rustfmt
        name: Format Rust code
        entry: bash -c 'cd server && cargo fmt'
        language: system
        files: ^server/.*\.rs$
        pass_filenames: false

      - id: clippy
        name: Lint Rust code with clippy
        entry: python scripts/pre_commit/quick_mode.py clippy bash -c 'cd server && cargo clippy --all-targets -- -D warnings'
        language: system
        files: ^server/.*\.rs$
        pass_filenames: false
        require_serial: true

  # Custom project-specific checks
  - repo: local
    hooks:
      - id: documentation-consistency
        name: Check documentation consistency
        entry: python scripts/pre_commit/check_documentation.py
        language: python
        always_run: true
        pass_filenames: false
        additional_dependencies: []

      - id: roadmap-reminder
        name: Roadmap update reminder
        entry: python scripts/pre_commit/roadmap_reminder.py
        language: python
        files: ^(extension|server)/.*\.(ts|tsx|rs)$
        pass_filenames: true

  # Commit message validation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.2.3
    hooks:
      - id: commitizen
        name: Check commit message format
        stages: [commit-msg]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: check-json
        exclude: tsconfig.json  # Has comments

# Configuration for specific hooks
# Quick mode: PRE_COMMIT_QUICK=1 git commit
# Skip all: git commit --no-verify
# Skip specific: SKIP=hook-id git commit

docs: consolidate development documentation and update roadmap
  docs/DEV.md
  docs/DEVELOPMENT.md
  docs/ROADMAP.md
Due: none

feat(server): implement sync v2 endpoint with structured CRDT operations
  server/src/crdt.rs
  server/src/db.rs
  server/src/lib.rs
  server/src/main.rs
  server/src/sync_v2.rs
Due: rustfmt, clippy, roadmap-reminder

fix(server): simplify CRDT integration with yrs
  server/src/crdt.rs
Due: rustfmt, clippy, roadmap-reminder

feat(extension): implement sync v2 client with CRDT operations
  extension/src/__tests__/background-service-v2.test.ts
  extension/src/__tests__/background-service.test.ts
  extension/src/api/api.ts
  extension/src/api/sync/CrdtOperation.ts
  extension/src/api/sync/SyncV2Request.ts
  extension/src/api/sync/SyncV2Response.ts
  extension/src/api/sync/TabData.ts
  extension/src/api/sync/index.ts
  extension/src/background.ts
  extension/src/sync/__tests__/user-settings.test.ts
  extension/src/sync/index.ts
  extension/src/sync/sync-v2-manager.ts
  extension/src/sync/tab-event-handler-v2.ts
  extension/src/sync/user-settings.ts
  server/src/sync_v2.rs
Due: eslint, typescript, rustfmt, clippy, roadmap-reminder

docs: update roadmap to mark CRDT protocol as complete
  docs/ROADMAP.md
Due: none

refactor: remove sync v1 and rename v2 to default sync
  extension/src/__tests__/background-service-v2.test.ts
  extension/src/__tests__/background-service.test.ts
  extension/src/api/api.test.ts
  extension/src/api/api.ts
  extension/src/api/index.ts
  extension/src/api/sync/SyncRequest.ts
  extension/src/api/sync/SyncResponse.ts
  extension/src/api/sync/index.ts
  extension/src/background.ts
  extension/src/sync/__tests__/sync-manager.test.ts
  extension/src/sync/__tests__/tab-event-handler.test.ts
  extension/src/sync/__tests__/user-settings.test.ts
  extension/src/sync/index.ts
  extension/src/sync/sync-manager.ts
  extension/src/sync/sync-v2-manager.ts
  extension/src/sync/tab-event-handler-v2.ts
  extension/src/sync/tab-event-handler.ts
  extension/src/sync/user-settings.ts
  server/src/lib.rs
  server/src/main.rs
  server/src/sync.rs
  server/src/sync_v2.rs
Due: eslint, typescript, rustfmt, clippy, roadmap-reminder

docs: update documentation to reflect v1 removal
  docs/DEVELOPMENT.md
  docs/ROADMAP.md
  docs/SYNC-PROTOCOL.md
Due: none

docs: add pre-commit best practices and --no-verify warning
  CLAUDE.md
  docs/DEVELOPMENT.md
  docs/GIT.md
  extension/src/api/index.ts
  extension/src/api/sync/CrdtOperation.ts
  extension/src/api/sync/SyncRequest.ts
  extension/src/api/sync/SyncResponse.ts
  extension/src/api/sync/TabData.ts
Due: eslint, typescript, roadmap-reminder

fix: resolve clippy and eslint errors
  extension/eslint.config.ts
  extension/src/api/sync/CrdtOperation.ts
  extension/src/api/sync/SyncRequest.ts
  extension/src/api/sync/SyncResponse.ts
  extension/src/api/sync/TabData.ts
  server/src/crdt.rs
  server/src/main.rs
  server/src/sync.rs
Due: eslint, typescript, rustfmt, clippy, roadmap-reminder

chore: enhance pre-commit hooks with TOML/YAML linting
  .cz.toml
  .pre-commit-config.yaml
  .yamllint.yaml
  extension/eslint.config.ts
  extension/package.json
  extension/src/api/errors/ErrorCode.ts
  extension/src/api/errors/ErrorDetail.ts
  extension/src/api/errors/ErrorResponse.ts
  extension/src/api/errors/RetryInfo.ts
  extension/src/api/models/SyncRequest.ts
  extension/src/api/models/SyncResponse.ts
  extension/src/api/models/Tab.ts
  extension/src/api/sync/CrdtOperation.ts
  extension/src/api/sync/SyncRequest.ts
  extension/src/api/sync/SyncResponse.ts
  extension/src/api/sync/TabData.ts
  pyproject.toml
  server/Cargo.toml
  server/config/example.toml
Due: eslint, typescript, roadmap-reminder

refactor: separate Rust tests from ts-rs generation
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  .yamllint.yaml
  extension/pnpm-lock.yaml
  scripts/tasks/generate.py
  server/Cargo.toml
  server/src/error.rs
  server/src/models.rs
  server/src/sync.rs
Due: rustfmt, clippy, roadmap-reminder

fix(extension): adjust coverage thresholds to fix CI
  extension/jest.config.js
Due: eslint

test: add comprehensive tests for sync-manager and tab-event-handler
  extension/jest.config.js
  extension/src/sync/__tests__/sync-manager.test.ts
  extension/src/sync/__tests__/tab-event-handler.test.ts
  extension/src/sync/sync-manager.ts
Due: eslint, typescript, roadmap-reminder

feat(server): add comprehensive integration tests for sync endpoint
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  server/Cargo.lock
  server/Cargo.toml
  server/src/crdt.rs
  server/src/lib.rs
  server/src/sync.rs
  server/tests/README.md
  server/tests/sync_integration.rs
Due: rustfmt, clippy, roadmap-reminder

feat(tools): add unified coverage checking task
  extension/jest.config.js
  scripts/tasks/coverage.py
Due: eslint

docs: add todo for coverage tool triggering TypeScript generation
  docs/ROADMAP.md
  server/.gitignore
  server/coverage/lcov.info
Due: none

refactor(scripts): improve coverage.py architecture and add tarpaulin to setup
  extension/jest.config.js
  scripts/tasks/coverage.py
  scripts/tasks/setup_dev.py
Due: eslint

feat(scripts): add sccache as development dependency
  .gitignore
  pyproject.toml
  scripts/tasks/setup_dev.py
Due: none

ci: add coverage reporting and threshold checks
  .github/workflows/ci.yml
Due: none

docs: add Codecov coverage badge to README and adjust server threshold
  README.md
  scripts/tasks/coverage.py
  uv.lock
Due: none

fix(coverage): prevent TypeScript generation during server coverage tests
  .github/workflows/ci.yml
  scripts/tasks/coverage.py
Due: none

perf(ci): add sccache to speed up Rust compilation
  .github/workflows/ci.yml
Due: none

refactor(ci): remove redundant coverage-check job and use Codecov thresholds
  .github/workflows/ci.yml
  codecov.yml
Due: none

perf(ci): add cargo build step before coverage to warm up sccache
  .github/workflows/ci.yml
Due: none

perf(ci): build both dev and test profiles to maximize sccache benefit
  .github/workflows/ci.yml
Due: none
