Repository goodbadwolf/tanaka: changes, and which Codecov flags are due for each by the changed paths.
All: extension, server

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "40...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        if_ci_failed: error
      extension:
        target: 75%
        threshold: 1%
        flags:
          - extension
        if_ci_failed: error
      server:
        target: 40%
        threshold: 1%
        flags:
          - server
        if_ci_failed: error
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto
        if_ci_failed: error

flags:
  extension:
    paths:
      - extension/
    carryforward: true
  server:
    paths:
      - server/
    carryforward: true

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/__tests__/**"
  - "**/tests/**"
  - "extension/src/webapp/**"
  - "extension/src/browser/mock.ts"
  - "scripts/**"

feat: add dynamic permission verification for Manifest V3 compliance (#80)
  docs/ROADMAP.md
  extension/src/__tests__/permissions-origins.test.ts
  extension/src/__tests__/permissions.test.ts
  extension/src/__tests__/sync-manager-permissions.test.ts
  extension/src/browser/__mocks__/index.ts
  extension/src/browser/core.ts
  extension/src/browser/index.ts
  extension/src/browser/mock.ts
  extension/src/browser/permissions.test.ts
  extension/src/browser/permissions.ts
  extension/src/services/permissions.ts
  extension/src/sync/__tests__/sync-manager-with-worker.test.ts
  extension/src/sync/sync-manager-with-worker.ts
Due: extension

docs: update documentation to reflect Phase 3 completion
  README.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/GETTING-STARTED.md
  docs/ROADMAP.md
  docs/TROUBLESHOOTING.md
Due: none

docs: clarify data integrity items deferred to Phase 5
  docs/DEVELOPMENT.md
  docs/ROADMAP.md
Due: none

docs: update documentation to reflect Phase 3 completion (#81)
  README.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/GETTING-STARTED.md
  docs/ROADMAP.md
  docs/TROUBLESHOOTING.md
Due: none

feat: implement SQLx migrations for database schema management
  docs/DEVELOPMENT.md
  docs/ROADMAP.md
  server/Cargo.toml
  server/migrations/20250706014706_initial_schema.down.sql
  server/migrations/20250706014706_initial_schema.up.sql
  server/src/db.rs
  server/src/lib.rs
Due: server

docs: clarify SQLx CLI as required prerequisite
  docs/DEVELOPMENT.md
Due: none

test: add comprehensive tests for SQLx migration functionality
  docs/DEVELOPMENT.md
  server/lcov.info
  server/src/db.rs
  server/tests/migration_test.rs
Due: server

feat: implement SQLx migrations for database schema management (#82)
  docs/DEVELOPMENT.md
  docs/ROADMAP.md
  server/Cargo.toml
  server/lcov.info
  server/migrations/20250706014706_initial_schema.down.sql
  server/migrations/20250706014706_initial_schema.up.sql
  server/src/db.rs
  server/src/lib.rs
  server/tests/migration_test.rs
Due: server

chore: add lcov.info to server gitignore
  server/.gitignore
  server/lcov.info
Due: server

chore: add lcov.info to server gitignore (#83)
  server/.gitignore
  server/lcov.info
Due: server

chore: rename SQLite database from tabs.db to tanaka.db
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/GETTING-STARTED.md
  docs/TROUBLESHOOTING.md
  extension/src/components/ErrorBoundary.test.tsx
  server/.env.example
  server/config/example.toml
  server/src/config.rs
Due: server

chore: rename SQLite database from tabs.db to tanaka.db (#84)
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/GETTING-STARTED.md
  docs/TROUBLESHOOTING.md
  extension/src/components/ErrorBoundary.test.tsx
  server/.env.example
  server/config/example.toml
  server/src/config.rs
Due: server

docs: mark SQLx CLI as required tool, not optional
  docs/DEVELOPMENT.md
Due: none

docs: clarify all required development tools
  docs/DEVELOPMENT.md
Due: none

docs: clarify data integrity items deferred to Phase 5 (#85)
  docs/DEVELOPMENT.md
  docs/ROADMAP.md
Due: none

docs: fix SQLx migration status inconsistency in roadmap
  docs/ROADMAP.md
Due: none

docs: fix SQLx migration status inconsistency in roadmap (#86)
  docs/ROADMAP.md
Due: none

docs: condense Phase 3 content and prepare for Phase 4 planning
  docs/ROADMAP.md
  docs/TROUBLESHOOTING.md
Due: none

docs: remove archived Phase 3 architecture review documents
  docs/__archived/ARCH_REVIEW.md
  docs/__archived/EXTENSION_ARCH_REVIEW.md
  docs/__archived/SERVER_ARCH_REVIEW.md
  docs/__archived/extension_reviews_approved/REVIEW_CHATGPT_APPROVED.md
  docs/__archived/extension_reviews_approved/REVIEW_CLAUDE_DEEP_RESEARCH_APPROVED.md
  docs/__archived/extension_reviews_approved/REVIEW_CLAUDE_OPUS_APPROVED.md
  docs/__archived/extension_reviews_approved/REVIEW_GEMINI_APPROVED.md
  docs/__archived/extension_reviews_originals/REVIEW_CHATGPT.md
  docs/__archived/extension_reviews_originals/REVIEW_CLAUDE_DEEP_RESEARCH.md
  docs/__archived/extension_reviews_originals/REVIEW_CLAUDE_OPUS.md
  docs/__archived/extension_reviews_originals/REVIEW_GEMINI.md
  docs/__archived/server_reviews_approved/REVIEW_CHATGPT.md
  docs/__archived/server_reviews_approved/REVIEW_CHATGPT_DEEP_RESEARCH.md
  docs/__archived/server_reviews_approved/REVIEW_CLAUDE_DEEP_RESEARCH.md
  docs/__archived/server_reviews_approved/REVIEW_CLAUDE_OPUS.md
  docs/__archived/server_reviews_approved/REVIEW_GEMINI.md
  docs/__archived/server_reviews_originals/REVIEW_CHATGPT.md
  docs/__archived/server_reviews_originals/REVIEW_CHATGPT_DEEP_RESEARCH.md
  docs/__archived/server_reviews_originals/REVIEW_CLAUDE_DEEP_RESEARCH.md
  docs/__archived/server_reviews_originals/REVIEW_CLAUDE_OPUS.md
  docs/__archived/server_reviews_originals/REVIEW_GEMINI.md
Due: none

docs: remove ARCH_REVIEW.md - Phase 3 is complete
  docs/ARCH_REVIEW.md
Due: none

docs: comprehensive Phase 4 roadmap documentation
  docs/ROADMAP.md
Due: none

refactor: restructure roadmap with pragmatic phase progression
  docs/ROADMAP.md
Due: none

refactor: streamline roadmap with focused Phase 4 and Pending Tasks
  docs/ROADMAP.md
Due: none

docs: simplify roadmap structure and emphasize PR workflow
  docs/ROADMAP.md
Due: none

refactor: remove all phase and version references from roadmap
  docs/ROADMAP.md
Due: none

docs: streamline roadmap with key principles first
  docs/ROADMAP.md
Due: none

docs: simplify project documentation structure
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/GIT.md
  docs/ROADMAP.md
  docs/TODOS.md
  scripts/pre_commit/todo_reminder.py
Due: none

docs: add comprehensive UI redesign task to TODOs
  docs/TODOS.md
Due: none

docs: simplify roadmap structure (#89)
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/GIT.md
  docs/ROADMAP.md
  docs/TODOS.md
  scripts/pre_commit/todo_reminder.py
Due: none

docs: remove emojis from TODOS.md for cleaner appearance
  docs/TODOS.md
Due: none

docs: remove emojis from TODOS.md for cleaner appearance (#90)
  docs/TODOS.md
Due: none

docs: plan UI redesign with incremental approach
  docs/TODOS.md
Due: none

docs: add GitHub CLI heredoc pattern for PR descriptions
  CLAUDE.md
Due: none

docs: plan UI redesign with incremental approach (#91)
  CLAUDE.md
  docs/TODOS.md
Due: none

feat: add UI prototype files for redesigned interface
  extension/prototypes/index.html
  extension/prototypes/tanaka-context-menu.html
  extension/prototypes/tanaka-empty-states.html
  extension/prototypes/tanaka-error-states.html
  extension/prototypes/tanaka-icon-svg.svg
  extension/prototypes/tanaka-notifications.html
  extension/prototypes/tanaka-onboarding.html
  extension/prototypes/tanaka-popup-redesign.html
  extension/prototypes/tanaka-settings-redesign.html
  extension/prototypes/tanaka-sync-history.html
  extension/prototypes/tanaka-tab-search.html
  extension/prototypes/tanaka-window-details.html
Due: extension

chore: add prettier formatting for HTML/CSS files in pre-commit
  .pre-commit-config.yaml
Due: none

refactor: rename prototypes folder to prototype and simplify filenames
  .pre-commit-config.yaml
  extension/prototype/index.html
  extension/prototype/tanaka-context-menu.html
  extension/prototype/tanaka-empty-states.html
  extension/prototype/tanaka-error-states.html
  extension/prototype/tanaka-icon-svg.svg
  extension/prototype/tanaka-notifications.html
  extension/prototype/tanaka-onboarding.html
  extension/prototype/tanaka-popup.html
  extension/prototype/tanaka-settings.html
  extension/prototype/tanaka-sync-history.html
  extension/prototype/tanaka-tab-search.html
  extension/prototype/tanaka-window-details.html
  extension/prototypes/index.html
  extension/prototypes/tanaka-context-menu.html
  extension/prototypes/tanaka-empty-states.html
  extension/prototypes/tanaka-error-states.html
  extension/prototypes/tanaka-notifications.html
  extension/prototypes/tanaka-onboarding.html
  extension/prototypes/tanaka-popup-redesign.html
  extension/prototypes/tanaka-settings-redesign.html
  extension/prototypes/tanaka-sync-history.html
  extension/prototypes/tanaka-tab-search.html
  extension/prototypes/tanaka-window-details.html
Due: extension
